<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search accounts with LiveSearch.js</title>
    <style>
      .highlight {
          background-color: lightskyblue;
      }
      table tr td {
          font-size: smaller;
      }
      input {
          width: 396px;
          height: 30px;
          padding: 8px 12px;
          font-size: 24px;
          line-height: 30px;
          border: 2px solid #ccc;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          outline: none;
      }
    </style>
    {{ form.media }}
  </head>
  <body>
    <div style="width:800px;margin:auto;">
    <h1>Search accounts with LiveSearch.js</h1>
    <form id="searchform" method="post">
      {% csrf_token %}
      {{ form }}
    </form>
    </div>
    </body>
  </html>
