<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ form.media }}
  </head>
  <body style="width:800px;margin:auto;">
    <div>
      {{ form.collaboration }}
    </div>
    <script>
        document.body.addEventListener("htmx:afterRequest", function(e) {
          const input = document.querySelector('input[name="collaboration"]');
          if (input) input.value = "";
        });
    </script>
  </body>
</html>
